.years {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 110px;
}
.start,
.end {
  position: relative;
  width: fit-content;
  height: fit-content;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 160px;
  letter-spacing: -0.02em;
}
.start {
  color: #5d5fef;
}
.end {
  color: #ef5da8;
}
@media only screen and (max-width: 1440px) {
  .years {
    justify-content: space-between;
    gap: 120px;
  }
  .start,
  .end {
    font-size: 140px;
    line-height: 72px;
  }
}
@media only screen and (max-width: 900px) {
  .years {
    position: absolute;
    justify-content: space-between;
    top: 28.6971%;
    left: 6.25%;
    width: 87.5%;
    gap: 0;
  }
  .start,
  .end {
    font-size: 56px;
    line-height: 72px;
  }
}